<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> 6.869 Miniplaces Val Error </title>

  <style>
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .dot {
    stroke: #000;
  }
  .tooltip {
    position: absolute;
    width: 200px;
    height: 28px;
    pointer-events: none;
  }
  </style>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="./js/plot.js"></script>
</head>
<body>
  <h2> Sercle 6.869 Val Error </h2>
</body>
</html>
